# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Rust
/target
Cargo.lock

# Embedded / C
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.lst
.pico-sdk
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
